# Lists
Lists are the most versatile of Python's compound data types. A list contains items separated by commas and enclosed within square brackets ([]). To some extent, lists are similar to arrays in C. One difference between them is that all the items belonging to a list can be of different data type.

In [9]:
# A list contains items separated by commas and enclosed within square brackets ([]).
# list have mutable values means we can change or modify list's value..
mylist = ['junagadh','viramgarm','jamnagar','rajkot','yash','bhondu']

In [16]:
print(mylist) # Prints list.
print(len(mylist)-1) # we found the index of 'mylist'

['junagadh', 'viramgarm', 'jamnagar', 'rajkot', 'yash', 'bhondu']
5

In [13]:
# we can print list's values using thair index numbers starts from 0.
# Print a list indexes [From:TO]
print(mylist[:]) # Eveerything
print(mylist[2:]) # starting index to end
print(mylist[:6]) # beginning to ending index
print(mylist[2:5]) # print between this indexes
#print("\n")
#print(mylist[9])
# if we give a -1 in index that start read index from ending point
# in short - operator reads string from reverse
print(mylist[-5:]) # it print 5 charachters from ending point

['junagadh', 'viramgarm', 'jamnagar', 'rajkot', 'yash', 'bhondu']
['jamnagar', 'rajkot', 'yash', 'bhondu']
['junagadh', 'viramgarm', 'jamnagar', 'rajkot', 'yash', 'bhondu']
['jamnagar', 'rajkot', 'yash']
['viramgarm', 'jamnagar', 'rajkot', 'yash', 'bhondu']

In [4]:
# .pop() function is use to pop (delete) the value from list
# .pop(_value_)

mylist.pop # pop function needs arguments to it

In [5]:
# here .pop(4) function removes mylist[4]th element.
mylist.pop(4)

2

In [6]:
mylist

['junagadh', 'viramgarm', 'jamnagar', 1, 3, 4]

In [7]:
len(mylist) # len() function shows lenth of list

6

In [40]:
mylist = ['Yash', 'Dhoni', 'Russel', 'Rohit', 1, 3 ,5]

In [41]:
len(mylist)

7

In [42]:
mylist

['Yash', 'Dhoni', 'Russel', 'Rohit', 1, 3, 5]

In [45]:
mylist[::2] # leaves second element and print next

['Yash', 'Russel', 1, 5]

In [46]:
mylist

['Yash', 'Dhoni', 'Russel', 'Rohit', 1, 3, 5]

In [49]:
# Concadinate two values using '+' operator
'Hello Mr.' + 'Yash'

'Hello Mr.Yash'

In [52]:
# add element in list from last
mylist + ['Shreyas']

['Yash', 'Dhoni', 'Russel', 'Rohit', 1, 3, 5, 'Shreyas']

In [53]:
#but for permenent add the value to list we need to assign it in list
mylist

['Yash', 'Dhoni', 'Russel', 'Rohit', 1, 3, 5]

In [54]:
# assign and add into list
mylist = mylist + ['Dakasha']

In [56]:
mylist #now value can add permenently

['Yash', 'Dhoni', 'Russel', 'Rohit', 1, 3, 5, 'Dakasha']

In [58]:
mylist * 2 # repeat the list and print

['Yash',
 'Dhoni',
 'Russel',
 'Rohit',
 1,
 3,
 5,
 'Dakasha',
 'Yash',
 'Dhoni',
 'Russel',
 'Rohit',
 1,
 3,
 5,
 'Dakasha']

In [59]:
lst = ['a', 'x', 'b', 'e', 'q', 'i', 'k', 'p']

In [62]:
lst.reverse() # function print reverse list

In [63]:
lst

['a', 'x', 'b', 'e', 'q', 'i', 'k', 'p']

In [64]:
lst.sort() # function sort the list elements

In [65]:
lst

['a', 'b', 'e', 'i', 'k', 'p', 'q', 'x']

In [66]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

In [73]:
# combining lists using another list.
# It's call multiple list
mat = [l1, l2, l3]

In [71]:
mat

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [76]:
# we can print thair value using index number.
mat[2][0] # means 2 index's list's 0 index'selement

7

In [32]:
mat[1][2] # means second list's 2nd element

6

In [77]:
# it prints the second index's list all elements using for each loop
fcol = [row[2] for row in mat]

In [34]:
fcol

[3, 6, 9]